<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <div>
        <mat-form-field appearance="outline">
            <mat-label>Product name</mat-label>
          <input matInput formControlName="productName"  id="productName" name="productName"  type="text" placeholder="Enter product name" [value]="product.productName">
        </mat-form-field>
      </div>
<!--      <div [hidden]="!formGroup.get('productName')!.value.empty" class="alert alert-danger">Product name is required</div>-->
      <div class="example-button-row">
        <button mat-raised-button color="primary" [disabled]="!formGroup.valid">Submit</button>
      </div>
    </form>


  </div>
</div>
