<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Manufacturer</th>
        <th scope="col">Product</th>
        <th scope="col">Link</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let url of urls">
        <td>{{url.product.manufacturer.manufacturerName}}</td>
        <td>{{url.product.productName}}</td>
        <td>{{url.productUri}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
